<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ book.title }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    />
    <style>
      .book-details {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        padding: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container mt-4">
      <div class="book-details">
        <h1 class="mb-3">{{ book.title }}</h1>
        <p><strong>Price:</strong> {{ book.price }}</p>
        <p><strong>Publish Date:</strong> {{ book.publish_date }}</p>
      </div>

      <form
        action="{% url 'book_delete' book.id %}"
        method="post"
        style="display: inline"
      >
        {% csrf_token %}
        <input
          type="submit"
          value="Delete"
          class="btn btn-danger"
          onclick="return confirm('Are you sure?');"
        />
      </form>
      <a href="{% url 'book_edit' book.id %}" class="btn btn-warning">Edit</a>
    </div>
  </body>
</html>
